{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!-- form for adding new TODO items -->
      
        <form action="/addItem" method="post" >
          <label for="title_name">Enter the Title: </label>
          <input type="text" name="title_name" required >
          <input type="submit" value="Add Title">
        </form>
        <h2>Existing Items List</h2>
        <ul class="list-group mb-4">
        <!-- List the todo items here loop while all items gets listed -->
        <table>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Title</th>
          </tr>
        {% for items in todo_items %}
        <tr>
          <td>{{ items.id }}</td>
          <td>{{ items.status }}</td>
          <td>{{ items.Subtitle }}</td>
        </tr>
       {% endfor %}
        </table>  
              </ul>

    </div>
  </div>
{% endblock %}  
